// GLOBAL COLORS
$bg-color: #00558C;
$text-color: #ffffff;
$hover-color: #00ff00;
$logout-color: #d81e1e;

// GRABACION COLORS
$form-border-color: #b2bdc5;
$form-text-color: #212529;

// TABLE COLORS
$table-global-color: $bg-color;
$table-row-color: #ffffff;
$table-header-text-color: #ffffff;
$table-hover-color: lighten($bg-color, 23%);