@import 'colors';

.hover-button {
    $bg-color: rgb(252, 252, 253);
    $text-color: rgb(144, 134, 224);
    $hover-color: rgb(45, 35, 66);
    $hover-color-1: rgba(45, 35, 66, 0.4);
    $hover-color-2: rgba(45, 35, 66, 0.3);
    $hover-color-3: rgb(214, 214, 231);

    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: $hover-color-1 0 2px 4px, $hover-color-2 0 7px 13px -3px, $hover-color-3 0 -3px 0 inset;
    box-sizing: border-box;
    color: $text-color;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;

    
    &:hover, &:focus, &:focus:hover {
        box-shadow: $hover-color-1 0 4px 8px, $hover-color-2 0 7px 13px -3px, $hover-color-3 0 -3px 0 inset;
        transform: translateY(-2px);
    }

    &:focus {
        outline: none;
    }
    
    &:active {
        box-shadow: $hover-color-3 0 3px 7px inset;
        transform: translateY(2px);
    }
}
