* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
    /*background: linear-gradient(to right, #6c01bc, #ea690b);*/
    background: white;
    font-family: "Raleway";
    font-weight: 500;
    padding: 50px;
    background: url("/layered-waves-haikei.svg");
}

.container {
    margin: 100px auto;
    padding: 10px;
    width: 440px;
    height: 450px;
    background-color: #fff;
    border-radius: 50px;
    background: #fafafa;
    box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
                -12px -12px 24px 0 rgba(204, 204, 204, 0.5);
}

h1 {
    width: 70%;
    color: #777;
    font-size: 32px;
    margin: 28px auto;
    margin-bottom: 20px;
    text-align: center;
    padding-bottom: 20px;
}

form {
    text-align: center;
    padding-top: 20px;
}

input {
    padding: 12px 0;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 2px solid transparent;
    text-align: center;
    width: 90%;
    font-size: 18px;
    transition: border .2s, background-color .2s;
}

form .field {
    background: #fafafa;
    box-shadow: inset 30px 30px 60px #d6d6d6,
            inset -30px -30px 60px #ffffff;

}

form .field:focus {
    border: 2px solid #3498DB;
}

form .field:hover {
    border: 2px solid #3498DB;
    background-color: #c8caca;
}

form .btn {
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
    line-height: 35px;
    cursor: pointer;
    border-radius: 10px;
    background: #3498DB;
    box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
                -12px -12px 24px 0 rgba(204, 204, 204, 0.5);
}

form .btn:hover,
form .btn:active {
    background-color: #1F78B4;
}

.pass-link {
    text-align: center;
}

.pass-link a:link,
.pass-link a:visited {
    font-size: 12px;
    color: #777;
}

.wrong-data {
    border-color: rgb(219, 21, 21);
    background-color: rgb(211, 104, 126);
}

.errorMsg {
    color: hsla(0, 100%, 50%, 0.671);
    font-weight: 700;
}